@model IEnumerable<Post>

@{
    var base_path = Context.Request.PathBase;
}

<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>


<div class="main-img">
    @foreach (var post in Model)
    {
        var image_path = $"/Image/{post.Image}";
    @if (post.Category == "ProfilePictureGeneral")
        {
    <img data-src="@image_path" class="lazyload" />

        }
    }


</div>





<div class="OsamaBilla">
    <span class="title2">Osama Billa <br />  <span class="title3">sc: osama.billa99</span>  </span>

    @*<nav class="indexNav">

        <a asp-controller="Home" asp-action="chatbot" style="color: grey; opacity: 0.5;">Chatbot</a>

    </nav>*@



    <nav class="indexNav">
        <a asp-controller="Home" asp-action="index" style=" border-bottom: 1px solid #000; color: black; padding-bottom: 3px;" ;>General</a>

        <a asp-controller="Panel" asp-action="Private" style="color: grey; opacity: 0.5;">Private</a>
        <a asp-controller="Home" asp-action="chillPlaylist" style="color: grey; opacity: 0.5;">Spotify</a>

    </nav>

</div>

<script>

    function myFunction(this.id) {
        button = document.getElementById(this.id)
        button.style.display = "block";
    }
</script>



@*<img src="~/content/static/RobloxScreenShot20200822_142430262.png" width="500"/>*@
<div class="container">
    @*<ul>
            @foreach (var post in Model)
            {
                @if (!String.IsNullOrEmpty(post.Image))
                {
                    var image_path = $"/Image/{post.Image}";
                    <img src="@image_path" width="500" />
                }
                <li>
                    <a asp-contoller="Home" asp-action="Post" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </li>
            }
        </ul>*@

    @{
        var modelOrdered = Model.OrderByDescending(m => m.Created);
    }

    @foreach (var post in modelOrdered)
    {

        var image_path = $"{base_path}/Image/{post.Image}";
    @if (post.Category == "General")
        {
    <a class="post" asp-contoller="Home" asp-action="Post" asp-route-id="@post.Id">
        <img data-src="@image_path" class="lazyload" />
    </a>


        }
    }


</div>