@model IEnumerable<Post>

@{

}


<div class="main-img">
    @foreach (var post in Model)
    {
        var image_path = $"/Image/{post.Image}";
        @if (post.Category == "ProfilePictureGeneral")
        {
            <img src="@image_path" />

        }
    }
</div>

<div class="OsamaBilla">
    <span class="title2">Osama Billa</span>

    <nav class="indexNav">
        <a asp-controller="Home" asp-action="index" style="background-color:lightgrey; border-radius:5px; height: 50%" ;>General</a>

        <a asp-controller="Panel" asp-action="Private">Private</a>

    </nav>

</div>



@*<img src="~/content/static/RobloxScreenShot20200822_142430262.png" width="500"/>*@
<div class="container">
    @*<ul>



            @foreach (var post in Model)
            {
                @if (!String.IsNullOrEmpty(post.Image))
                {
                    var image_path = $"/Image/{post.Image}";
                    <img src="@image_path" width="500" />
                }
                <li>
                    <a asp-contoller="Home" asp-action="Post" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </li>
            }
        </ul>*@

    @{
        var modelOrdered = Model.OrderByDescending(m => m.Created);
    }

    @foreach (var post in modelOrdered)
    {

        var image_path = $"/Image/{post.Image}";
        @if (post.Category == "General")
        {
            <a class="post" asp-contoller="Home" asp-action="Post" asp-route-id="@post.Id">
                <img src="@image_path" />
            </a>


        }
    }


</div>