@model Post

@{
    var base_path = Context.Request.PathBase;
}

<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>

@*<h2>@Model.Title</h2>

    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var image_path = $"/Image/{Model.Image}";
        <img src="@image_path" width="500"/>
    }


    <p>@Model.Body</p>*@




<div class="container">
    <div class="post no-shadow">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"{base_path}/Image/{Model.Image}";
            <img class="lazyload" data-src="@image_path" />
        }
        <div class="post-body">
            @Model.Body
        </div>
    </div>
</div>